.header.clearfix
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href="/") 공모전닷컴
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/comp_infos") 모아보기

          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/signin') 로그인
            li.nav-item
              a.nav-link(href='/users/new') 회원가입
          else
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                | 마이페이지
              .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                a.dropdown-item(href=`/users/${currentUser._id}`) 내 정보 보기
                a.dropdown-item(href=`/users/${currentUser._id}/edit`) 내 정보 수정
                if (currentUser.role == "manager")
                  a.dropdown-item(href='/users') 사용자 목록
                  a.dropdown-item(href=) 승인 대기 글
                  //-TODO: 페이지 생성
            li.nav-item
              a.nav-link(href='/signout') 로그아웃
        
          
