extends layout

block content
  .container
    br
    h1 개발자 정보

    br
    p github: 
      a(href='https://github.com/S00ahKim/competition_info') https://github.com/S00ahKim/competition_info

    hr
    p 연락처: &nbsp;
      a(href='mailto:rlatndk0206@naver.com') 이메일 보내기