extends layout
block content
  .container
    br
    h1 이미지 업로드 방법
    br
    img(src='/images/upload.jpg' style="height:30em")
    br
    br
    h4 1. 올리고자 하는 이미지의 주소를 복사합니다.
    hr
    img(src='/images/upload2.jpg' style="height:10em")
    br
    br
    h4 2. 본문 에디터의 그림 아이콘을 클릭합니다.
    hr
    img(src='/images/upload3.jpg' style="height:15em")
    br
    br
    h4 3. 이미지 url에 이미지 주소를 붙여넣기합니다.
    hr
    img(src='/images/upload4.jpg' style="height:20em")
    br
    br
    h4 4. 이미지가 본문 에디터에 삽입됩니다.
    hr
    img(src='/images/upload5.jpg' style="height:30em")
    br
    br
    h4 5. 이미지가 업로드되었음을 확인할 수 있습니다.

