extends layout

block hero-unit
  .jumbotron
    .container

    h1 안녕하세요!
    h3 가장 간결하게 공모전 정보를 확인할 수 있는 곳, 공모전닷컴
    p 
      | 관심이 있는 공모전을 깔끔하게 확인하고
      | 내가 알고 있는 공모전 정보를 사람들과 공유하세요.

  .container
    .row
      .col-sm-6
        p(style="font-weight:bold; font-size:1.3em") #[i.fa.fa-bullhorn] 공지사항
        .container
          br
          a(href='') 사이트 안내
          hr
          a(href='') 이미지 업로드 방법
          hr
          a(href='') 개발자 정보

          hr

      .col-sm-6
        p(style="font-weight:bold; font-size:1.3em") #[i.fa.fa-bullhorn] 관리자's Pick
        .container
          br
          a(href='/comp_infos/5c0caa86dfd565201bc89b30') 전공 선택을 도와줘! &nbsp;&nbsp;
            span.badge.badge-success 추천
          hr
          a(href='comp_infos/5c0ca9b0dfd565201bc89b2e') 고등학생 에너지 소논문 경진대회 &nbsp;&nbsp;
            span.badge.badge-success 추천
          hr
          a(href='comp_infos/5c0ca94adfd565201bc89b2d') 디스패치 영상 콘텐츠 크리에이터 &nbsp;&nbsp;
            span.badge.badge-success 추천

          hr

        