extends layout

//- 로그인
block content
  .container
    .clearfix
      form.form-signin(action='/signin', method='POST')
        h3.form-signin-heading 로그인
        label.sr-only(for='email') 이메일
        input(
          type='email', id='email', name='email', class='form-control', 
          placeholder='Email address', required, autofocus
        )
        label.sr-only(for='password') 비밀번호
        input(
          type='password', id='password', name='password', class='form-control', 
          placeholder='Password', required, autofocus
        )
        .checkbox
          label 
            input(type="checkbox", value="remember-me")
            |
            | 로그인 유지
        button.btn.btn-primary.btn-block(type='submit') 로그인
        a.btn.btn-dark.btn-block(href='/auth/facebook')
          i.fa.fa-facebook.fa-lg
          | &nbsp;
          | 페이스북으로 로그인

        div.sub 
          a(href='/users/new') 회원가입
          | 
          | /
          |
          a(href='/reset-password') 비밀번호 재설정 <!--TODO: make page-->
      
<!--TODO: why diff???-->