extends ../layout

block content
  .container
    h1.main-title 즐겨찾기
          
    br
    if favorites
      table.table.table-hover
        thead
          tr
            th 제목
            th 주최사
            th 연락처
            th 태그
        tbody
            each favorite in favorites
              tr
                td
                  a(href=`/compInfos/${user.favorite}`)= favorite.title
                td= favorite.host
                td= favorite.contact
                td= favorite.tags
    else
      p 즐겨찾기한 공모전이 없습니다.