extends ../layout

//- 관리자 계정 만들기 
block content
  .container 
    h1.main-title 관리자 계정 만들기
    .container
      p 이 페이지는 관리자 계정을 만드는 페이지입니다. 일반 사용자 계정을 생성하려면 회원가입하시오.
    form(action='/users/new-admin', method='POST')
      .form-group
        label(for='name') 이름
        input.form-control(type='text', id='name', name='name', placeholder='Your name')
      .form-group
        label(for='email') 이메일
        input.form-control(type='email', id='email', name='email', placeholder='Email')
      .form-group
        label(for='password') 비밀번호
        input.form-control(type='password', id='password', name='password', placeholder='Password')
      .form-group
        label(for='password_confirmation') 비밀번호 확인
        input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='Password')
      
      button.btn.btn-primary(type='submit') 등록하기