extends ../layout

//- 회원가입
block content
  .container
    h1.main-title 회원가입
    form(action='/users', method='POST')
      .form-group
        label(for='name') 이름
        input.form-control(type='text', id='name', name='name', placeholder='Your name')
      .form-group
        label(for='email') 이메일
        input.form-control(type='email', id='email', name='email', placeholder='Email')
      .form-group
        label(for='password') 비밀번호
        input.form-control(type='password', id='password', name='password', placeholder='Password')
      .form-group
        label(for='password_confirmation') 비밀번호 확인
        input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='Password')
      a.btn.btn-outline-secondary(href='/users') 목록
      | 
      button.btn.btn-primary(type='submit') 가입하기
