extends ../layout

block content
  .container
    h1.main-title 글 수정
    form(action=`/comp_infos/${comp_info.id}`, method="POST")
      input(type="hidden", name="_method", value="PUT")
      include _form
      button.btn.btn-outline-primary(type="submit") 수정
