extends ../layout

block content
  .container
    h1.main-title 새로운 공모전 등록
    form(action="/comp_infos", method="POST")
      include _form
      button.btn.btn-outline-primary(type="submit") 등록

    