extends ../layout

block content
  .container
    h1.main-title 승인 대기 중인 글
          
    br
    if comp_infos
      table.table.table-hover
        thead
          tr
            th 제목
            th 주최사
            th 연락처
            th 
        tbody
            each a in comp_infos
              tr
                td
                  a(href=`/comp_infos/${a._id}`)= a.title
                td= a.host
                td= a.contact
                td
                  a(href=`/comp_infos/${a._id}/upload`) 승인하기
    else
        p 승인 대기 중인 글이 없습니다.