extends ../layout

block content
  .container

    h1.main-title 
      | 내가 쓴 글 보기

    if comp_infos.total <= 0 
      .alert.alert-info 조회 가능한 공모전이 없습니다.
    else
      .comp_infos
        each comp_info in comp_infos.docs
          if comp_info.author && comp_info.author.id == currentUser.id
          .comp_info
            a.title(href=`/comp_infos/${comp_info.id}`)= comp_info.title
